@charset "utf-8";

/* ============================================================ */
/* header */
/* ============================================================ */
.header {
	width: 100%;
	height: 108px;
	padding: 0 40px;
	background: var(--white);
	transition: all .3s;
	position: -webkit-sticky;
  position: sticky;
	/*position: fixed;*/
	left: 0;
	top: 0;
	z-index: 20;
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
	.header {
		padding: 0 30px;
	}
}

.noscript {
	padding: 5px 15px;
	background: var(--bg-gray);
	color: var(--black-text);
	text-align: center; 
	font-size: 1.4rem;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 108px;
}

.header-logo {
	width: 190px;
	border-left: 7px solid var(--blue);
	padding: 0 0 0 15px;
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
	.header-logo {
		width: 170px;
	}
}

.header-logo__link {
	display: block;
}

.header-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

/* .hnav
------------------------------------------------------------ */
.hnav {
}

.hnav__inner {
	display: flex;
} 

.hnav__item {
	margin: 0 45px 0 0;
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
	.hnav__item {
		margin: 0 20px 0 0;
	}
}

.hnav__item:last-child {
	margin: 0;
}

.hnav__link {
	color: var(--black);
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
	.hnav__link {
		font-size: 1.3rem;
	}
}

.hnav__link .__txt {
  background: linear-gradient(0deg, var(--black), var(--black)) no-repeat right bottom / 0 var(--bg-h2);
}

.hnav__link.active .__txt {
	border-bottom: 1px solid var(--black);
	background: none;
}

/* .header-menu
------------------------------------------------------------ */
.header-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 22px;
	height: 19px;
	z-index: 10;
	position: relative;
}

.header-menu .__txt {
	line-height: 1.0;
	font-size: 1.2rem;
}

.header-menu._active_ .__txt {
	display: none;
}

.header-menu__inner {
	position: relative;
	width: 22px;
	height: 19px;
}

.header-menu._active_ .header-menu__inner {
	margin: 0;
}

.header-menu__item {
	display: inline-block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 3px;
	background: var(--black);
	transition: all 0.5s ease;
}

.header-menu__item:nth-of-type(1) { top: 0; }
.header-menu__item:nth-of-type(2) { top: 8px; transform: scale(1, 1); }
.header-menu__item:nth-of-type(3) { bottom: 0; }

.header-menu._active_ .header-menu__item:nth-of-type(1) { transform: translateY(8px) rotate(-315deg); background: var(--black); }
.header-menu._active_ .header-menu__item:nth-of-type(2) { opacity: 0; background: var(--black); transform: scale(0, 1); transform-origin: center top; }
.header-menu._active_ .header-menu__item:nth-of-type(3) { transform: translateY(-8px) rotate(315deg); background: var(--black); } 

._gnav-show_ .gnav {
	z-index: 10;
	opacity: 1;
	pointer-events: auto;
	height: calc(100vh - 108px);
	padding: 120px 30px;
}

@media only screen and (min-width: 768px) and (max-width: 1125px) {
	._gnav-show_ .gnav {
		padding: 50px 30px;
	}
}

/* .gnav
------------------------------------------------------------ */
.gnav {
	/*position: fixed;*/
	position: -webkit-sticky;
  position: sticky;
	left: 0;
	top: 108px;
	z-index: 1;
	width: 100%;
	height: 0;
	/*height: calc(100% - 108px);*/
	background: #eef6fb;
	opacity: 0;
	transition: all 0.3s ease;
	color: var(--black);
	overflow-y: auto;
	overscroll-behavior-y: contain;
	pointer-events: none;
}

.gnav__inner {
	max-width: 1324px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

@media only screen and (min-width: 768px) and (max-width: 1125px) {
	.gnav__inner {
		flex-wrap: wrap;
	}
}

.gnav__list {
}

.gnav__list:last-child {
}

@media only screen and (min-width: 768px) and (max-width: 1125px) {
	.gnav__list {
		margin-bottom: 20px;
	}
}

.gnav__item {
	margin: 0 0 25px;
	line-height: 1.2;
}

.gnav__item:last-child {
	margin: 0;
}

.gnav__link {
	font-size: 2.0rem;
	line-height: 1.2;
	font-weight: 700;
	position: relative;
	letter-spacing: 1px;
}

@media only screen and (min-width: 768px) and (max-width: 1125px) {
	.gnav__link {
		font-size: 1.6rem;
	}
}

.gnav__detail {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.gnav-sub__inner {
  margin-bottom: 20px;
  margin-left: 48px;
}

@media only screen and (min-width: 768px) and (max-width: 1125px) {
	.gnav-sub__inner {
		margin-left: 44px;
	}
}
 
.gnav-sub__item {
  margin-bottom: 20px;
  position: relative;
}

.gnav-sub__item:last-child {
  margin-bottom: 0;
}
 
.gnav-sub__item::before {
  content: "";
  position: absolute;
  top: -0.3em;
  left: -30px;
  width: 18px;
  height: calc(100% + 20px);
  border-left: 1px solid #60A6D2;
}
 
.gnav-sub__item:last-child::before {
  height: calc(1em + 4px);
}

@media only screen and (min-width: 768px) and (max-width: 1125px) {
	.gnav-sub__item:last-child::before {
		height: calc(1em + 3.9px);
	}
}

.gnav-sub__item:first-child::before {
  top: 0.9em;
  height: calc(1em + 20px);
}
 
.gnav-sub__item::after {
  content: "";
  position: absolute;
  top: .9em;
  left: -30px;
  width: 18px;
  border-bottom: 1px solid #60A6D2;
}

.gnav__detail .gnav__link::after {
  content: "";
  position: absolute;
  top: 0.65em;
  right: -0.9em;
  width: 6px;
  border-bottom: 1px solid #60A6D2;
}

@media only screen and (min-width: 768px) and (max-width: 1125px) {
	.gnav__detail .gnav__link::after {
		top: 0.8em;
	}
}

.gnav-sub__link {
	color: var(--black);
	font-size: 1.6rem;
	font-weight: 700;
	letter-spacing: 0.8px;
	line-height: 1.4;
}

@media only screen and (min-width: 768px) and (max-width: 1125px) {
	.gnav-sub__link {
		font-size: 1.3rem;
	}
}

.gnav-sub__link .__txt {
  background: linear-gradient(0deg, var(--black), var(--black)) no-repeat right bottom / 0 var(--bg-h2);
}

