@charset "utf-8";

/* ============================================================ */
/* contents */
/* ============================================================ */
.contents {
	width: 100%;
	position: relative;
	z-index: 1;
}

.contents__inner {
	width: 100%;
	padding: 56px 20px 100px;
}

.contents__inner ._col2_ {
	display: flex;
	flex-direction: column;
}

.contents__body {
	order: 2;
	margin: 0 0 40px;
}

.contents__side {
	order: 1;
}

.pre {
	overflow: auto;
  word-wrap: break-word;
	width: 100%;
}

.box__inner {
	padding: 0 20px;
}


.contents-inner {
	display: flex;
	flex-direction: column;
}

.contents-main {
	order: 2;
}


/* ============================================================ */
/* サイドアンカーリンク用 */
/* ============================================================ */
.contents-side {
  position: relative;
	order: 1;
	margin: 56px 20px 40px;
}

.snav {
	border-bottom: 4px solid var(--blue);
	padding: 0 0 20px;
	overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@-moz-document url-prefix(){
	.snav {
		scrollbar-width: thin;
		scrollbar-color: #ddd #eee;
	}
}

.snav::-webkit-scrollbar {
  height: 7px; /* スクロールバーの高さ */
}
 
.snav::-webkit-scrollbar-thumb {
  background: #ddd; /* ツマミの色 */
  border-radius: 7px; /* ツマミ両端の丸み */
}
 
.snav::-webkit-scrollbar-track {
  background: #eee; /* トラックの色 */
  border-radius: 7px; /* トラック両端の丸み */
}

.snav__list {
	display: flex;
	max-width: 100%;
	min-width: 460px;
	width: auto;
}

.snav__item {
	margin: 0 30px 0 0;
	white-space: nowrap;
}

.snav__item:last-child {
	margin: 0;
}

.snav__link {
	font-size: 1.8rem;
	font-weight: 700;
	letter-spacing: 0.9px;
	color: var(--blue);
	opacity: 0.35;
	/*transition: all .3s;*/
	line-height: 1.6;
}

span.snav__link {
	cursor: default;
}

.snav__link:hover ,
span.snav__link.active ,
span.snav__link.active:hover ,
.snav__link.active {
	opacity: 1;
}

span.snav__link:hover {
	cursor: default;
	opacity: 0.35;
}

.snav__link .__txt {
	display: inline-block;
	background: none;
}


/* ============================================================ */
/* テキストスタイル */
/* ============================================================ */
.txt_center ,
.txt_center_sp {
	text-align: center;
}

.txt_right ,
.txt_right_sp {
	text-align: right;
}

.txt_left ,
.txt_left_sp {
	text-align: left;
}


/* ============================================================ */
/* h1 */
/* ============================================================ */
.h1 {
	width: 100%;
	height: 200px;
	font-size: 2.8rem;
	line-height: 1.2;
	color: var(--white);
	font-weight: 700;
	margin: 56px 0 0;
	z-index: 1;
	position: relative;
	letter-spacing: 1.4px;
	background: url("../../img/common/bg_ttl_base_sp.jpg") center center no-repeat;
	background-size: cover;
}

.h1._everyday_ {
	background: url("../../img/recruit/everyday/bg_ttl_everyday_sp.jpg") center center no-repeat;
	background-size: cover;
}

.h1._interview_ {
	background: url("../../img/recruit/interview/bg_ttl_interview_sp.jpg") center center no-repeat;
	background-size: cover;
}

.h1._application_ {
	background: url("../../img/recruit/application/bg_ttl_application_sp.jpg") center center no-repeat;
	background-size: cover;
}

.h1._form_ {
	background: url("../../img/recruit/form/bg_ttl_form_sp.jpg") center center no-repeat;
	background-size: cover;
}

.h1__inner {
	width: 100%;
	height: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	text-align: center;
}

.h1__ttl {
	margin: -25px 0 0;
}

.h1__ttl .__jp {
	border-bottom: 4px solid var(--white);
	padding: 0 0 15px;
}

.h1__ttl .__jp._error_ {
	font-size: 2.3rem;
}


/*----- h2 -----*/
.h2 {
	margin: 0 0 25px;
	padding: 0 0 0 20px;
	font-size: 2.6rem;
	font-weight: 700;
	letter-spacing: 1.3px;
	line-height: 1.4;
	border-left: 6px solid var(--blue);
	font-family: 'Noto Sans JP', sans-serif;
	transform: rotate(0deg);
}

.h2._flex_ {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}

.h2._white_ {
	border-left: 6px solid var(--white);
}

.h2__txt {
	color: var(--blue);
}

.h2._white_ .h2__txt {
	color: var(--white);
}

.h2__small {
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.7px;
	line-height: 1.8;
	color: var(--blue);
	margin: 0 0 0 5px;
}


/*----- h3 -----*/
.h3 {
	font-size: 2.0rem;
	font-weight: 700;
	letter-spacing: 1px;
	color: var(--blue);
	margin: 0 0 15px;
}

/*----- h4 -----*/
.h4 {
	margin: 0 0 20px;
	color: var(--blue);
	font-size: 2.0rem;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.8;
	font-family: "Noto Sans JP";
}

/*----- h5 -----*/
.h5 {
}

/*----- h6 -----*/
.h6 {
}


/* ============================================================ */
/* インデントスタイル */
/* ============================================================ */
.indent {
	display: table;
}

.indent__item {
	display: table-cell;
	white-space: nowrap;
}

.indent._space_ .__item {
	padding-right: 1em;
}


/* ============================================================ */
/* flexスタイル */
/* ============================================================ */
.al-fc,
.al-fc_sp {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.al-fc > * {
	flex: 0 0 auto;
}

.al-fr ,
.al-fr-sp {	
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.al-fl ,
.al-fl-sp {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.al-fb {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.al-fa {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

._sp-cr_ {
	flex-direction: column-reverse;
}

._sp-c_ {
	flex-direction: column;
}

._sp-fs_ {
	align-items: flex-start;
}

._sp-fe_ {
	align-items: flex-end;
}

._sp-jc-sb_ {
	justify-content: space-between;
}

._sp-jc-fe_ {	
	justify-content: flex-end;
}

._flex1_ {
	flex: 1;
	width: auto;
}

._order1_ {
	order: 1;
}

._order2_ {
	order: 2;
}


/* ============================================================ */
/* table */
/* ============================================================ */
.table {
	width: 100%;
	table-layout: fixed;
	line-height: 1.6;
	word-break: break-all;
	word-wrap: break-word;
	font-size: 1.5rem;
}

.table th,
.table td {
	padding: 20px 0;
	border-bottom: 1px solid var(--line-gray);
	background-clip: padding-box;
	text-align: left;
	vertical-align: middle;
}

.table._no-border_ th ,
.table._no-border_ td {
	border-bottom: none;
}

.table tr:first-child th ,
.table tr:first-child td {
	padding-top: 0;
}

.table ._bb-0_ {
	border-bottom: none;
}

.table th {
	font-weight: 700;
	color: var(--blue);
}

.table ._black_ {
	font-weight: 700;
	color: #474747;
}

.table ._al-l_ {
	text-align: left;
}

.table ._al-r_ {
	text-align: right;
}

.table ._al-c_ {
	text-align: center;
}

.table ._va-m_ {
	vertical-align: middle;
}

.table ._nowrap_ {
	white-space: nowrap;
}


/* sp-column1 */
.table._sp-col1_ {
	display: block;
}

.table._sp-col1_ thead,
.table._sp-col1_ tbody {
	display: block;
}

.table._sp-col1_ tr {
	display: block;
}

.table._sp-col1_ th,
.table._sp-col1_ td {
	display: block;
	border-left: none;
	border-right: none;
}

.table._sp-col1_ th {
	padding: 0 0 20px;
}

.table._sp-col1_ td {
	padding: 0 0 45px;
}

/* table--wide */
.table--wide {
	border: none;
	display: block;
	border-top: 1px solid var(--line-gray);
	border-bottom: 1px solid var(--line-gray);
}

.table--wide th,
.table--wide td {
	display: block;
	padding: 10px;
	border-bottom-width: 0;
	border-right-width: 0;
	text-align: center;
	border-bottom: 1px dotted var(--line-gray);
}

.table--wide th {  
	width: auto;
	text-align: left;
}

.table--wide thead {
	display: block;
	float: left;
	overflow-x: scroll;
}

.table--wide tbody {
	display: block;
	width: auto;
	overflow-x: auto;
	white-space: nowrap;
}

.table--wide tbody tr { 
	display: inline-block; 
	margin: 0 -3px;
}

.table--wide tbody tr:last-child th,
.table--wide tbody tr:last-child td {
	border-right-width: 1px;
}

.table--wide thead th:last-child,
.table--wide tbody td:last-child {
	border-bottom-width: 1px;
}

.table--wide tbody td:last-child {
	border-bottom: none;
}


/* table--list */
.table--list {
	border: none;
	border-bottom: 1px solid var(--line-gray);
	border-top: 1px solid var(--line-gray);
}

.table--list tr {
	display: block;
	margin: 0 0 20px;
}

.table--list th {
	display: block;
	border: none;
	border-bottom: 1px dotted var(--line-gray);
	border-top: 1px dotted var(--line-gray);
}

.table--list tr:first-child th {
	border-top: none;
}

.table--list td {
	display: list-item;
	margin: 0 0 0 20px;
	padding: 5px 0 0;
	border: none;
	background: none;
}

.table--list td:first-of-type {
	padding: 10px 0 0;
}


/* ============================================================ */
/* labelスタイル */
/* ============================================================ */
.label {
	display: inline-block;
	text-align: center;
	padding: 0 5px;
	margin: 0 10px;
	min-width: 35px;
	box-sizing: border-box;
	font-size: 1.2rem;
	border-radius: 4px;
	font-weight: 400;
	letter-spacing: 1.2px;
}

.label._red_ {
	background: var(--red);
	color: var(--white);
}


/* ============================================================ */
/* accordion */
/* ============================================================ */
.accordion ,
.accordion-sp {
	cursor: pointer;
	position: relative;
	color: var(--black);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid var(--line-gray);
	padding: 10px 20px;
	border-radius: 4px;
	transition: all .3s;
	line-height: 1.5;
}

.accordion._active_ ,
.accordion-sp._active_ {
	border: 1px solid var(--line-gray);
	border-bottom: none;
	border-radius: 4px 4px 0 0;
}

.accordion__hide {
	display: none;
	background: var(--white);
	border: 1px solid var(--line-gray);
	border-top: none;
	border-radius: 0 0 4px 4px;
	padding: 0 20px 20px;
}

.accordion .__txt ,
.accordion-sp .__txt {
	font-size: 1.6rem;
	font-weight: 500;
}

.accordion .__ico ,
.accordion-sp .__ico {
	line-height: 1.0;
	color: var(--green);
	font-size: 1.4rem;
	margin: 0 0 0 10px;
}

.accordion._active_ .__ico ,
.accordion-sp._active_ .__ico {
	transform: rotate(180deg);
}

/* ============================================================ */
/* btn */
/* ============================================================ */
.btn ,
.btn-arrow {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50px;
	padding: 0 15px;
	border: 1px solid transparent;
	text-align: center;
	text-decoration: none;
	line-height: 1.4;
	font-size: 1.7rem;
	font-weight: 600;
	z-index: 1;
	cursor: pointer;
	box-sizing: border-box;	
  overflow: hidden;	
	transition: all .3s;
}

.btn .__txt ,
.btn-arrow .__txt {
	font-weight: 700;
	background: none;
	letter-spacing: 0.7px;
}

.btn-arrow .__txt:first-child {
	padding: 0 10px 0 0;
}

.btn-arrow .__txt:flast-child {
	padding: 0 0 0 20px;
}

.btn-arrow .__ico {
	position: absolute;
  top: 50%;
	transform: translateY(-50%);
	display: inline-flex;
	justify-content: center;
	align-items: center;
  transition: all 0.3s ease;
	font-size: 1.8rem;
}

.btn-arrow .__ico:first-child {
	left: 0;
	transform: translateX(15px) translateY(-50%);
}

.btn-arrow .__ico:last-child {
	right: 0;
	transform: translateX(-15px) translateY(-50%);
}

.btn:hover ,
.btn-arrow:hover {
	cursor: pointer;
	opacity: 1;
}

.btn._m0_ {
	margin: 0;
}

/* 青ボタン */
.btn._blue_ ,
.btn-arrow._blue_ {
	background: var(--navy);
	color: var(--white);
	border: 1px solid var(--navy);
}

/* 紺ボタン */
.btn._navy_ ,
.btn-arrow._navy_ {
	background: var(--navy);
	color: var(--white);
	border: 1px solid var(--navy);
}

/* グレーボタン */
.btn._gray_ ,
.btn-arrow._gray_ {
	background: var(--gray);
	color: #333;
	border: 1px solid var(--line-gray);
}

/* サイズ小さめボタン */
.btn._w-s_ ,
.btn-arrow._w-s_ {
	font-size: 1.6rem;
	min-width: 200px;
}


/* ============================================================ */
/* フォームスタイル */
/* ============================================================ */
.form-text {
	display: inline-block;
	width: 100%;
	padding: 12px 16px;
	border: none;
	color: var(--black);
	border-radius: 4px;
	background: #f1f1f1;
	box-sizing: border-box;
	font-size: 1.6rem;
}

.form-text._w-a_ {
	width: auto;
}

.form-text::placeholder {
	color: rgba(49,49,49, 0.5);
}

.form-text::-webkit-input-placeholder {
	color: rgba(49,49,49, 0.5);
}

.form-text::-moz-placeholder {
	color: rgba(49,49,49, 0.5);
	opacity: 1;
}

.form-text:-ms-input-placeholder {
	color: rgba(49,49,49, 0.5);
}

/*----- アピアランス非表示 -----*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
}
input[type="date"] {
	position: relative;
}
input[type="date"]::-webkit-calendar-picker-indicator {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
}


/*----- textarea -----*/
.form-textarea {
	display: inline-block;
	width: 100%;
	height: 200px;
	padding: 12px 16px;
	border: none;
	color: var(--black);
	border-radius: 4px;
	background: #f1f1f1;
	box-sizing: border-box;
	font-size: 1.6rem;
	resize: vertical;
}

.form-textarea::placeholder {
	color: rgba(49,49,49, 0.5);
}

.form-textarea::-moz-placeholder {
	color: rgba(49,49,49, 0.5);
	opacity: 1;
}

.form-textarea:-ms-input-placeholder {
	color: rgba(49,49,49, 0.5);
}

.form-textarea::-webkit-input-placeholder {
	color: rgba(49,49,49, 0.5);
}

/*----- radio -----*/
.form-radio {
	display: block;
	width: 100%;
}

.form-radio .__elem {
	line-height: 1.8;
	margin: 0 0 3px;
	padding: 0;
	display: none;
}

input[type="radio"]:checked + .__txt::after {
	opacity: 1;
}

input[type="radio"]:checked + .__txt::before {
	border: 2px solid var(--blue);
}

input[type="radio"]:disabled + .__txt {
	color: #7A7A7A !important;
}

.form-radio .__txt {
	position: relative;
	padding: 0 0 0 25px;
	cursor: pointer;
	display: flex;
	font-weight: 700;
	letter-spacing: 0.75px;
}

.form-radio .__txt::before {
	left: 0;
	content: '';
	border: 2px solid var(--line-gray);
	position: absolute;
	top: 50%;
	width: 14px;
	height: 14px;
	transform: translate(0, -50%);
	border-radius: 50%;
}

.form-radio .__txt::after {
	position: absolute;
	top: 50%;
	left: 5px;
	width: 8px;
	height: 8px;
	transform: translate(0, -50%);
	border-radius: 50%;
	background: var(--blue);
	content: "";
	opacity: 0;
}

/*----- check -----*/
.form-check {
	display: inline-flex;
	align-items: center;
}

.form-check .__elem {
	line-height: 1.8;
	padding: 0;
	display: none;
}

input[type="checkbox"]:checked + .__txt::after {
	opacity: 1;
}

input[type="checkbox"]:checked + .__txt::before {
	border: none;
}

.form-check .__txt {
	position: relative;
	padding: 0 0 0 30px;
	cursor: pointer;
	font-weight: 700;
	letter-spacing: 0.75px;
}

.form-check .__txt::before {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	width: 14px;
	height: 14px;
	border: 2px solid var(--line-gray);
	background: var(--white);
	content: "";
	border-radius: 4px;
}

.form-check .__txt::after {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	width: 14px;
	height: 14px;
	opacity: 0;
	content: '\e910';
	display: inline-flex;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--blue);
	color: var(--white);
	background: var(--blue);
	line-height: 1.0;
	font-family: 'icomoon';
	font-size: 1.3rem;
	font-weight: 600;
	border-radius: 4px;
}


/*----- select -----*/
.form-select {
	display: inline-block;
	padding: 12px 30px 12px 10px;
	border: none;
	color: var(--black);
	border-radius: 4px;
	background: #f1f1f1;
 	appearance: none;
	font-size: 1.6rem;
	width: 100%;
	position: relative;
}

.form-select::-ms-expand {
  display: none;
}

.form-select:disabled {
	color: rgba(49,49,49, 0.5);
	opacity: 1;
}

.form-select::placeholder {
	color: rgba(49,49,49, 0.5);
}

.form-select::-moz-placeholder {
	color: rgba(49,49,49, 0.5);
	opacity: 1;
}

.form-select:-ms-input-placeholder {
	color: rgba(49,49,49, 0.5);
}

.form-select::-webkit-input-placeholder {
	color: rgba(49,49,49, 0.5);
}

/* ============================================================ */
/* iframeスタイル */
/* ============================================================ */
.iframe {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.iframe > iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* ============================================================ */
/* listスタイル */
/* ============================================================ */
.list {
}

.list__item {
	margin: 0 0 20px;
}

.list__item:last-of-type {
	margin: 0;
}


/* list-circle */
.list._list-circle_ {
}

.list._list-circle_ .list__item {
	position: relative;
	margin-bottom: 5px;
	padding-left: 20px;
}

.list._list-circle_ .list__item:last-child {
	margin-bottom: 0;
}

.list._list-circle_ .list__item::before {
	position: absolute;
	top: 5px;
	left: 0;
	display: block;
	content: '';
	background: var(--navy);
	width: 14px;
	height: 14px;
	border-radius: 50%;
	line-height: 1.0;
}

/* list-number */
.list-number {
	counter-reset: number 0;
}

.list-number .list-number__item {
	counter-increment: number; 
	position: relative;
	padding: 0 0 0 25px;
	margin: 0 0 20px;
}

.list-number .list-number__item:last-child {
	margin: 0;
}

.list-number .list-number__item::before {
	content: counter(number)"）";
	position: absolute;
	top: 5px;
	left: 0;
	line-height: 1.2;
}


/* ============================================================ */
/* boxスタイル */
/* ============================================================ */
.box {
	padding: 20px;
}

.box._white_ {
	background: var(--white);
}

.box._outline_ {
	border: 1px solid var(--black);
}

.box._radius_ {
	border-radius: 4px;
}

.box._error_ {
	background: rgba(209,45,38,0.1);
	color: var(--red);
	font-weight: 600;
}

.box._error_ .icon-error {
	margin: 0 5px 0 0;
	font-size: 2.0rem;
}

/* --------------------------------------------------- */
/* カラム制御 */
/* --------------------------------------------------- */

/* 複数カラム
/* --------------------------------------------------- */
.column {
	display: flex;
	flex-wrap: wrap;
}

.column >* {
	margin-bottom: 15px;
}

.column > * * {
	max-width: 100%;
}

.column > * img {
	outline: 1px solid transparent;
}

.column1 > *,
.column > * img:not([class*=wd-a]) {
	width: 100%;
}

.column2 {
	margin-left: -1.5%;
	margin-right: -1.5%;
}

.column2 > * {
	margin-left: 1.5%;
	margin-right: 1.5%;
	width: 47%;
}

.column3 ,
.column6 {
	margin-left: -1%;
	margin-right: -1%;
}

.column3 > * ,
.column6 > * {
	margin-left: 1%;
	margin-right: 1%;
	width: 31%;
}

.column4 {
	margin-left: -1%;
	margin-right: -1%;
}

.column4 > * {
	margin-left: 1%;
	margin-right: 1%;
	width: 23%;
}

.column5 {
	margin-left: -1%;
	margin-right: -1%;
}

.column5 > * {
	margin-left: 1%;
	margin-right: 1%;
	width: 18%;
}

.sp-column1 {
	margin-left: 0;
	margin-right: 0;
}

.sp-column1 > * {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

.sp-column2 {
	margin-left: -1.5%;
	margin-right: -1.5%;
}

.sp-column2 > * {
	margin-left: 1.5%;
	margin-right: 1.5%;
	width: 47%;
}

.sp-column3 {
	margin-left: -1%;
	margin-right: -1%;
}

.sp-column3 > * {
	margin-left: 1%;
	margin-right: 1%;
	width: 31%;
}

/* 幅指定カラム
------------------------------------------------------------ */
.flex-column {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.flex-column > * {
	flex: 0 0 auto;
	width: 100%;
}

.flex-column > *:not(:last-child) {
	margin-bottom: 20px;
}

.flex-column > * img {
	display: block;
	margin: 0 auto;
}

.flex-column > * * {
	max-width: 100%;
}
