@charset "utf-8";
/* ============================================================ */
/* everyday */
/* ============================================================ */

/* .interview-block
------------------------------------------------------------ */
.interview-block {
	padding: 56px 0 0;
}

.interview-block._white_ {
	background: var(--white);
}

.interview-block._blue_ .interview-block__bottom {
	background: var(--light-blue);
}

.interview-block__inner {
	margin-top: -56px;
	padding-top: 56px;
	/*padding: 0 20px;*/
}

/* .interview-block__top
------------------------------------------------------------ */
.interview-block__top {
	padding: 40px 20px 20px;
	width: 100%;
	height: 350px;
	color: var(--white);
	font-weight: 700;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
}

.interview-block__top._tada_ {
	background: url("../../img/recruit/interview/bg_ttl_tada_sp.jpg") center center no-repeat;
	background-size: cover;
}

.interview-block__top._ando_ {
	background: url("../../img/recruit/interview/bg_ttl_ando_sp.jpg") center center no-repeat;
	background-size: cover;
}

.interview-block__top._endo_ {
	background: url("../../img/recruit/interview/bg_ttl_endo_sp.jpg") center center no-repeat;
	background-size: cover;
}

.interview-block__top._saruwatari_ {
	background: url("../../img/recruit/interview/bg_ttl_saruwatari_sp.jpg") center center no-repeat;
	background-size: cover;
}

.interview-block__ttl {
	margin: 0 0 20px;
	padding: 8px 0 3px 30px;
	border-left: 6px solid var(--white);
	display: flex;
	flex-direction: column;
}

.interview-block__name {
	display: flex;
	flex-direction: column;
	margin: 0 0 10px;
}

.interview-block__name .__bold {
	font-size: 2.8rem;
	font-weight: 700;
	letter-spacing: 1.4px;
	line-height: 1.2;
	margin: 0 0 5px;
}

.interview-block__name .__kana {
	font-weight: 400;
	font-size: 1.3rem;
	letter-spacing: 0.65px;
}

.interview-block__ttl .__txt {
	line-height: 1.6;
	font-weight: 700;
}

.interview-block__message {
	font-size: 2.0rem;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.6;
}

/* .interview-block__bottom
------------------------------------------------------------ */
.interview-block__bottom {
	display: flex;
	flex-direction: column;
	padding: 40px 20px 69px;
}

.interview-block-faq {
	margin: 0 0 30px;
}

.interview-block-faq__list {
}

.interview-block-faq__item {
	margin: 0 0 40px;
	transform: rotate(0.05deg);
}

.interview-block-faq__item:last-child {
	margin: 0;
}

.interview-block-faq__question {
	position: relative;
	font-size: 2.0rem;
	font-weight: 700;
	letter-spacing: 0.9px;
	color: var(--blue);
	padding: 0 0 0 85px;
	margin: 0 0 50px;
	line-height: 1.8;
}

.interview-block-faq__question::before {
	position: absolute;
	top: 50%;
	left: 0;
	content: "";
	width: 60px;
	height: 60px;
	background: url("../../img/recruit/interview/ico_question.svg") 0 0 no-repeat;
	background-size: cover;
	transform: translateY(-50%);
}

.interview-block-faq__question::after {
	position: absolute;
	bottom: -22px;
	left: 0;
	content: "";
	width: 80px;
	height: 2px;
	background: var(--blue);
}

.interview-block-faq__answer {
	background: url("../../img/recruit/interview/ico_answer.svg") 0 0 no-repeat;
	background-size: 32px;
	padding: 0 0 0 52px;
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 0.75px;
}

.interview-block__img {
}

